.env
pseudocode.txt
*__pycache__*
*mockdata*
*.pem
*.csv
ML/mongo*
ML/*/mongo*
Web-Scraping/mongo*
*.json*
*.pkl*
*word2vec_model*
*.bin*
*.vec*
*test*
*rating_model*
*fasttext_recommender*
*word2vec_recommender*
*images*
Api/functions