Flask
Flask-restful
PyMongo
python-dotenv
requests
jupyter
pymongoarrow
pymongo[srv]
numpy
flask_cors
selenium
pandas
json
scikit-learn
nltk
spacy
requests
beautifulsoup4
undetected_chromedriver
gensim
fasttext
transformers
torch
keras
